<h3 id="title-message">User List</h3>

<div class="row">
  <div class="large-12 small-12 columns">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="large-12 small-12 columns">
    <table>
      <tr>
	<th>Name</th>
	<th>Username</th>
	<th>Email</th>
	<th></th>
	<th></th>
	<th></th>
      </tr>

      <% @users.each do |user| %>
      <tr>
	<td><%= user.full_name %></td>
	<td><%= user.username %></td>
	<td><%= user.email %></td>
	<td><%= link_to 'Show', user %></td>
	<td><%= link_to 'Edit', edit_user_path(user) %></td>
	<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table>

    <br>
  </div>
</div>
<div class="row" id="button-row">
  <div class="large-3 push-3 columns">
    <a href="users/new" class="button" id="users_button">New User</a>
  </div>
  <div class="large-3 pull-3 columns">
    <a href="/" class="button" id="home">Back to Home</a>
  </div>
</div>
